<!DOCTYPE html>
<html>
  <head>
    <title>xTuple Login</title>
    <link rel="shortcut icon" href="/assets/favicon.ico" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  </head>
  <body>

  <style type="text/css" media="all">
    <% include login/stylesheets/screen2.css %>
  </style>

  <div class="row">
    <div class="col-md-4">
      <h3 class="text-primary text-center">First Steps</h3>
      <iframe class="center-block"
        src="//player.vimeo.com/video/105351152?title=0&amp;byline=0&amp;portrait=0&amp;color=666666" width="200"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div class="col-md-4">
      <h3 class="text-primary text-center">Essentials</h3>
      <iframe class="center-block"
        src="//player.vimeo.com/video/105351152?title=0&amp;byline=0&amp;portrait=0&amp;color=666666" width="200"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div class="col-md-4">
      <h3 class="text-primary text-center">What is Next?</h3>
      <iframe class="center-block"
        src="//player.vimeo.com/video/105351152?title=0&amp;byline=0&amp;portrait=0&amp;color=666666" width="200"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>

  <div class="container">
    <div>
      <img draggable="false" class="header_image" src="/assets/logo.png">
    </div>
    <div class="panel panel-primary main">
      <div class="panel-body">
        <form role="form" name="loginForm" autocomplete="off" action="/login" method="post">
          <input type="hidden" id="hash" name="hash">
          <div class="form-group">
            <label for="form-fields_id">Username</label>
            <input
              type="text"
              class="form-control input-sm"
              id="form-fields_id"
              name="id"
              placeholder="username"
              autocapitalize="off"
              autocorrect="off">
          </div>
          <div class="form-group">
            <label for="form-fields_password">Password</label>
            <input
              type="text"
              class="form-control input-sm"
              id="form-fields_password"
              placeholder="password"
              name="password"
              type="password"
              autocapitalize="off"
              autocorrect="off">
          </div>
          <div class="form-group">
            <label for="form-fields_database">Database</label>
            <select
              class="form-control input-sm"
              id="form-fields_database"
              name="database">
                <% for(var i = 0; i < databases.length; i++) { %>
                  <option value="<%= databases[i] %>"><%= databases[i] %></option>
                <% } %>
            </select>
          </div>
          <div>
            <div class="pull-right">
              <button
                class="btn btn-info"
                name="submit"
                id="form-fields_loginButton"
                type="submit">
                Sign In
              </button>
            </div>
          </div>
          <div class="pull-left">
            <a class="orange" href="forgot-password">Forgot password?</a>
          </div>
        </form>
    </div>
    </div>
    <% for(var i = 0; i < message.length; i++) { %>
      <div class="alert alert-danger" role="alert"><%= message[i] %></div>
    <% } %>
  </div>

  <script>
    document.loginForm.id.focus();
    document.loginForm.hash.value = window.location.hash;
  </script>
  </body>
</html>
